/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

h1, h3 {
    color: #333;
}

/* User Section */
.user-section {
    text-align: center;
}

button {
    cursor: pointer;
}

#userPhoto {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}

#chronicIllnessBlog ul {
    list-style-type: none;
}

#chronicIllnessBlog li {
    padding: 8px 0;
    font-size: 1.1em;
}
